.maxHeight {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

ion-input > ::placeholder {
	text-align: center;
}

.cells {
	padding: 5px;
	border-radius: 1.5vh;
	/* background-color: red; */
	text-align: center;
}

.cells>ion-label, ion-input {
	color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#mount {
	background-color: var(--dark-blue);
}

#tip {
	background-color: var(--dark-goldenrod);
}

#split {
	background-color: var(--dark-green);
}