<ion-content padding>
    <ion-list>
        <ion-item>
            <ion-col size="4">
                <ion-label size="medium" col-4>{{'HM.TXT.TXTMONTO'|translate}}: $</ion-label>
            </ion-col>
            <ion-col size="8">
                <ion-input #ingMonto type="number" min="1" placeholder="{{'HM.PH.PMONTO'|translate}}" (focusout)="CheckCant(ingMonto.value)"></ion-input>
            </ion-col>
        </ion-item>
        <ion-item>
            <ion-col size="4">
                <ion-label size="medium" col-4>{{'HM.TXT.TXTPP'|translate}}: </ion-label>
            </ion-col>
            <ion-col size="8">
                <ion-input #ingCant type="number" min="1" placeholder="{{'HM.PH.PPP'|translate}}" (focusout)="CheckCant(ingCant.value)"></ion-input>
            </ion-col>
        </ion-item>
        <ion-item>
            <ion-label size="medium" color="primary" style="padding-left:5px;" id="selCalidad">{{'HM.TXT.TXTQUAL'|translate}}:</ion-label>
            <ion-label *ngIf="valQuality=='-1'" style="padding-left: 45px;">{{rangeValue}}</ion-label>
            <ion-select [(ngModel)]="valQuality" placeholder="{{'HM.PH.PSLCT'|translate}}" interface="action-sheet">
                <ion-select-option value="0.05"> &#x2605;&#x2606;&#x2606;&#x2606;&#x2606;(5%)</ion-select-option>
                <ion-select-option value="0.10">&#x2605;&#x2605;&#x2606;&#x2606;&#x2606;(10%)</ion-select-option>
                <ion-select-option value="0.15">&#x2605;&#x2605;&#x2605;&#x2606;&#x2606;(15%)</ion-select-option>
                <ion-select-option value="0.20">&#x2605;&#x2605;&#x2605;&#x2605;&#x2606;(20%)</ion-select-option>
                <ion-select-option value="0.25">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;(25%)</ion-select-option>
                <ion-select-option value="-1">{{'HM.SLCT.OP6'|translate}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item *ngIf="valQuality=='-1'">
            <ion-range min="5" max="100" snaps="true" pin="true" [(ngModel)]="rangeValue">
                <ion-icon range="50"></ion-icon>
            </ion-range>
        </ion-item>
    </ion-list>
    <ion-button expand="full" shape="round light" slots="icon-only end" (click)="mathProp(ingMonto.value, ingCant.value, rangeValue, valQuality)">{{'HM.BTNCALC'|translate}}
        <ion-icon ios="logo-usd" md="logo-usd" name="cash"></ion-icon>
    </ion-button>
    <br>
    <ion-grid>
        <ion-row style="background-color: #f4f4f4;">
            <ion-col stacked>
                <ion-label class="dataOut" color="primary">{{'HM.TXT.TXTOUTTTL' | translate}}: </ion-label>
            </ion-col>
            <ion-col stacked>
                <ion-label>$ {{dataOut.outTotal | number: '.2-2'}}</ion-label>
            </ion-col>
        </ion-row>
        <ion-row style="background-color: #f4f4f4;">
            <ion-col stacked>
                <ion-label class="dataOut" color="primary">{{'HM.TXT.TXTOUTPP' | translate}}:</ion-label>
            </ion-col>
            <ion-col stacked>
                <ion-label>$ {{dataOut.outPropina | number: '.2-2'}}</ion-label>
            </ion-col>
        </ion-row>
        <ion-row style="background-color: #ffe2e2;">
            <ion-col stacked>
                <ion-label class="dataOut" color="danger">{{'HM.TXT.TXTOUTBPP' | translate}}: </ion-label>
            </ion-col>
            <ion-col stacked>
                <ion-label>$ {{dataOut.outByPeople | number: '.2-2'}}</ion-label>
            </ion-col>
        </ion-row>
        <ion-row style="background-color: #ffe2e2;">
            <ion-col stacked>
                <ion-label class="dataOut" color="danger">{{'HM.TXT.TXTOUTBPPTIP' | translate}}: </ion-label>
            </ion-col>
            <ion-col stacked>
                <ion-label>$ {{dataOut.outByPeopleTip | number: '.2-2'}}</ion-label>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>