<ion-content padding id="{{theme_}}">
    <ion-list>
        <ion-item>
            <ion-col size="4"><ion-label size="medium" col-4>{{'CALC.MONTO'|translate}}: $</ion-label></ion-col>
            <ion-col size="8"><ion-input #ingMonto type="number" min="1" placeholder="{{'CALC.INPUTMONTO'|translate}}" (ionBlur)="CheckCant(ingMonto.value)"></ion-input></ion-col>
        </ion-item>
        <ion-item>
            <ion-col size="4"><ion-label size="medium" col-4>{{'CALC.PEOPLE'|translate}}: </ion-label></ion-col>
            <ion-col size="8"><ion-input #ingCant type="number" min="1" placeholder="{{'CALC.INPUTPEOPLE'|translate}}" (ionBlur)="CheckCant(ingCant.value)"></ion-input></ion-col>
        </ion-item>
        <ion-item>
            <ion-label size="medium" color="primary" style="padding-left:5px;" id="selCalidad">{{'CALC.QUALITY'|translate}}:</ion-label>
            <ion-label *ngIf="dataIn.iSelec == -1" style="padding-left: 45px;">{{dataIn.iRange}}</ion-label>
            <ion-select [(ngModel)]="dataIn.iSelec" placeholder="{{'CALC.SELECT'|translate}}" interface="popover">
                <ion-select-option value="0.05"> &#x2605;&#x2606;&#x2606;&#x2606;&#x2606;(5%)</ion-select-option>
                <ion-select-option value="0.10">&#x2605;&#x2605;&#x2606;&#x2606;&#x2606;(10%)</ion-select-option>
                <ion-select-option value="0.15">&#x2605;&#x2605;&#x2605;&#x2606;&#x2606;(15%)</ion-select-option>
                <ion-select-option value="0.20">&#x2605;&#x2605;&#x2605;&#x2605;&#x2606;(20%)</ion-select-option>
                <ion-select-option value="0.25">&#x2605;&#x2605;&#x2605;&#x2605;&#x2605;(25%)</ion-select-option>
                <ion-select-option value="-1">{{'CALC.OPTION'|translate}}</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item *ngIf="dataIn.iSelec == -1"><ion-range min="5" max="100" snaps="true" pin="true" [(ngModel)]="dataIn.iRange"><ion-icon range="50"></ion-icon></ion-range></ion-item>
    </ion-list>
    <ion-button expand="full" shape="round light" slots="icon-only end" (click)="mathProp(ingMonto.value, ingCant.value, dataIn.iRange, dataIn.iSelec)"><ion-icon name="logo-usd"></ion-icon><ion-icon name="logo-usd"></ion-icon>  {{'CALC.CALCULATE'|translate}}</ion-button>
    <br>
    <ion-grid>
        <ion-row style="background-color: #f4f4f4;">
            <ion-col stacked><ion-label class="dataOut" color="primary">{{'CALC.TOTALMONTO' | translate}}: </ion-label></ion-col>
            <ion-col stacked><ion-label color="primary">$ {{dataOut.outTotal | number: '.2-2'}}</ion-label></ion-col>
        </ion-row>
        <ion-row style="background-color: #f4f4f4;">
            <ion-col stacked><ion-label class="dataOut" color="primary">{{'CALC.TIPTOTAL' | translate}}:</ion-label></ion-col>
            <ion-col stacked><ion-label color="primary">$ {{dataOut.outPropina | number: '.2-2'}}</ion-label></ion-col>
        </ion-row>
        <ion-row style="background-color: #ffe2e2;">
            <ion-col stacked><ion-label class="dataOut" color="danger">{{'CALC.MONTOPARCIAL' | translate}}: </ion-label></ion-col>
            <ion-col stacked><ion-label color="danger">$ {{dataOut.outByPeople | number: '.2-2'}}</ion-label></ion-col>
        </ion-row>
        <ion-row style="background-color: #ffe2e2;">
            <ion-col stacked><ion-label class="dataOut" color="danger">{{'CALC.TIPPARCIAL' | translate}}: </ion-label></ion-col>
            <ion-col stacked><ion-label color="danger">$ {{dataOut.outByPeopleTip | number: '.2-2'}}</ion-label></ion-col>
        </ion-row>
    </ion-grid>
</ion-content>